* {
	font-family: 'Candara';
}

body {
    background-color: #fcba;
}

.center {
	justify-content: center;
	align-items: center;
	text-align: center;	
	margin: auto;
}

h1 {
	margin: 0;
	font-size: 50px;
	color: black;
	margin-bottom: 10px;
}
p {
	font-size: 20px;
	margin: 0;
}

#id{
	text-align: center;
	font-size: 10px;
}

.start {
	background-color: rgb(54, 54, 138);
	margin-left: 10%;
    padding: 15px 15px;
	border: none;
	color: #fff;
	border-radius: 20px;
	float: left;
	display: inline-block;
}

.reload{
	text-align: center;
	background-color: rgb(127, 127, 176);
    padding: 10px 10px;
	border: none;
	color: #fff;
	border-radius: 20px;
}

.next {
	float: right;
	background-color: rgb(54, 54, 138);
	margin-right: 10%;
    padding: 15px 20px;
	border: none;
	border-radius: 20px;
	display: inline-block;
}

.main{
	margin-top: 15%;
}

.emoji{
    display: inline;
    width: 6.25em;
	height: 6.25em;
	position: relative;
	cursor: default;
}

.emonocursor{
	cursor: not-allowed;
}
.emonondrag{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.emodrag{
	cursor: grab;
}
.emodrag:active{
	cursor: -webkit-grabbing;
	cursor: grabbing;
}

.emo5{
	font-size: 5.625em;
}

.emo4{
	font-size: 6.25em;
}

.emo3{
	font-size: 6.875em;
}

.emo2{
	font-size: 7.5em;
}

.emo1{
	font-size: 8.125em;
}


a {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
}

#div {
  width: 11em;
  height: 11em;
  border: 1px solid black;
  display: inline-block;
}
